/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@version: 2.0
@date: 17.05.18
**/

/*=============================================================================
#   Base
=============================================================================*/
p {
	max-width: var(--text-width);
}
.page {
	margin: 0;
    background-color: #e5e5e5;
    background-image: url("../img/trianglify.svg");
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
.main {
    padding: 1rem;
}
.heading {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 1rem;
	color: var(--secondary-dark-colour);
}
.list {
	padding: 0;
    list-style: none;
}
.link, .link:visited {
	/* TODO: Disable hover effect on mobile? Detect touch  */
	/* TODO: What colour should I use for links??? */
    /*color: var(--secondary-dark-colour);*/
}

@media (min-width: 1000px) {
	.page {
		background-image: url("../img/trianglify-large.svg");
	}
}
