/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Colors
=============================================================================*/
:root {
    --main-dark-colour: #07020D;
    --main-light-colour: #ffffff;
    --main-accent-colour: #fb4b4e;
    --twitter: #1da1f2;
    --github: #323131;
}