/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Footer
=============================================================================*/
.page__footer {
    padding: 2rem 1rem;
    text-align: center;
    overflow: hidden; /* .form__wrapper & .form__input padding are causing horizontal overflow
    /*position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;*/
}
.page__footer--reveal {
    display: none;
    z-index: 1;
}
.heading_type_footer {
    margin: 1rem;
}
.page__footer__about {
    display: inline-block;
}