/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Footer
=============================================================================*/
.page__footer {
    background-color: var(--main-dark-colour);
    color: var(--main-light-colour);
    padding: 1rem;
}
.heading_type_footer {
	color: var(--main-light-colour);
	font-weight: 400;
}
.page__footer__nav__list {
    margin-bottom: 0;
}
.link_type_footer, .link_type_footer:visited {
    color: var(--main-light-colour);
}