/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Footer
=============================================================================*/
.page__footer {
    padding: 2rem;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.page__footer--reveal {
    z-index: 1;
}
.heading_type_footer {
	font-weight: 400;
}
.page__footer__nav__list {
    margin-bottom: 0;
}
.link_type_footer, .link_type_footer:visited {
    color: var(--main-light-colour);
}

.page__footer__form {
    display: grid;
    grid-gap: 1rem;
    max-width: 400px;
    color: var(--main-light-colour);
    background-color: var(--main-dark-colour);
}