/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Forms
=============================================================================*/
.page__footer__form {
    text-align: left;
}
.form__wrapper {
    padding: 0 2rem 2rem 2rem;

    display: grid; 
}
