/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Header
=============================================================================*/
.page__header {
    padding: 2rem;

    position: fixed;
    width: 100%;
    z-index: 2;
}
.page__header--reveal {
    height: 200px;
    z-index: 1;
}
.page__header__heading {}