/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Header
=============================================================================*/
.page__header {
    padding: 1rem;
    background: linear-gradient(-200deg, rgba(245,245,245,.6), rgba(255,0,0,0) 70.71%);
}
.page__header__heading {
    margin-top: 0;
}

.page__header__nav {
}
.page__header__nav__list {
    margin-bottom: 0;
}