/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Header
=============================================================================*/
.page__header {
    padding: 2rem 1rem;
    text-align: center;
}
.page__header__heading {
    margin: 1rem 0;
}