/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 07.09.18
**/

/*=============================================================================
#   Layout
=============================================================================*/
.page {
    display: grid;
    grid-template-rows: auto auto minmax(200px, 500px);
}
