/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 26.03.18
**/

/*=============================================================================
#   Links
=============================================================================*/
.link {
    cursor: point;
}

.link_nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-light-colour);
    text-shadow: 0 10px 10px rgba(0,0,0,0.2);
    text-decoration-color: var(--primary-accent-colour);
    letter-spacing: 0.05rem;
}

.link_nav:hover, link_nav:focus {
    color: var(--secondary-accent-colour);
    text-shadow: 0 20px 20px rgba(0,0,0,0.2);
}