/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 26.03.18
**/

/*=============================================================================
#   Links
=============================================================================*/
.link {
    
}

.link_type_footer, .link_type_footer:visited, .link_type_header, .link_type_header:visited {
    color: var(--primary-light-colour);
}