/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 06.09.18
**/

/*=============================================================================
#   Main
=============================================================================*/
.main {
    background-color: var(--primary-dark-colour);
    border-top: 5px solid var(--primary-accent-colour);
    border-bottom: 5px solid var(--secondary-accent-colour);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    padding: 2rem;

    position: relative;
    z-index: 3;
}

