/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 28.09.18
**/

/*=============================================================================
#   Navigation
=============================================================================*/
.navigation__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.page__header .navigation__list {
    margin: 0;
}

.navigation__list__item {
    margin: 0 1rem;
}