/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Sections
=============================================================================*/
.section {
    color: var(--primary-dark-colour);
    background-color: var(--primary-light-colour);
    border-top: 4px solid var(--primary-accent-colour);
    box-shadow: 0 4px 6px 6px rgba(0,0,0,0.2);
    border-radius: 4px;
}
.section__header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
.heading_type_section {
    margin-top: 1rem;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    place-self: center;
}
.section__header__icon {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;
}
.profile__img {
    display: block;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}
.list_type_social_profile {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto 0 auto;
  width: 175px;
}

.section__wrap {
    padding: 1rem 2rem;
    padding-top: 0;
}
/*=============================================================================
#   Icons
=============================================================================*/
.page .svg-inline--fa{
    color: var(--primary-dark-colour);
    height: 1.5rem;
    width: 1.5rem;
}
.link_type_social:hover .fa-twitter {
    color: var(--twitter);
}
.link_type_social:hover .fa-github {
    color: var(--github);
}

/*=============================================================================
#   TODO
=============================================================================*/
.completed li {
    text-decoration: line-through;
}