* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  max-width: 80%;
  margin: auto;
}
article {
  color: #d8d8f6;
  background-color: #07020D;
  border: 2px solid #fb4b4e;
  margin: 0;
  padding: 1em;
  max-width: 30%;
}

h1, h2, .button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


.button {
  display: inline-block;
  color: #07020D;
  background-color: #fb4b4e;
  border: 2px solid #d8d8f6;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
}

/* Temporary float layout */
article {
  float: left;
}