/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@version: 2.0
@date: 27.03.18
**/

/*=============================================================================
>>> TABLE OF CONTENTS:
===============================================================================
# 1. Base
# 2. Layout
# 3. Module
  # 3.0. Default
  # 3.1. Global navigation
    # 3.1.1. Global navigation - Mobile
    # 3.1.2. Global navigation - Desktop
  # 3.2. Global header
  # 3.3. Social navigation
  # 3.4. SVG
  # 3.5. Buttons
# 4. State
# 5. Theme
=============================================================================*/

/*=============================================================================
# 1. Base
=============================================================================*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #07020D;
  margin: 0;
}
main {
  background-color: #e5e5e5;
  /*border-top: 5px solid #fb4b4e; *//*disable on mobile */
  border-radius: 4px 4px 0 0;
}
h1, h2, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

/*=============================================================================
# 2. Layout
=============================================================================*/
.grid-container {
  display: grid;
  margin: 0;
  padding: 0;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  body  {
    margin: 0.5em;
    display: flex;
    justify-content: center;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1980px;
    margin: 1em 0.5em;
    padding: 1em;
  }
  header {
    padding: 1em;
    margin: 1em;
  }
  .page-header {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

/*=============================================================================
# 3. Module
=============================================================================*/
/*=============================================================================
# 3. Module
  # 3.0. Default
=============================================================================*/
.module {
  color: #07020D;
  background-color: #fcfcfc;
  border-top: 5px solid #fb4b4e;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  border-radius: 4px 4px 0 0;
  margin: 1em;
}
.module-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #e5e5e5;
}
.module-header svg {
  height: 2em;
  width: 2em;
  padding: .1em;
}
svg.icon {
  height: 1.5em;
  width: 1.5em;
  padding: .1em;
}
.module-header .module-heading {
  margin: 1em 0.5em;
  font-size: 1em;
}
.module p:first-of-type {
  float: left;
}
.module p {
  padding: 0 2em;
}
.profile {
  display: block;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}
/*=============================================================================
# 3. Module
  # 3.1. Global navigation
=============================================================================*/
.nav-global .menu {
  list-style: none;
  /*display: flex;*/
  background-color: #fcfcfc;
  padding: 0;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  margin: 0;
}
.nav-global .menu li {
  display: block;
  flex-grow: 1;
  padding: 1em;
  border-top: 5px solid #e5e5e5;
}


.menu svg { /* this may just be for social menu have to see */
  height: 2em;
  width: 2em;
}
/*=============================================================================
# 3. Module
  # 3.1. Global navigation
    # 3.1.1. Global navigation - mobile
=============================================================================*/
.nav-global.mobile {
  align-self: center;
  
}
.nav-global.mobile .menu li:first-of-type {
  border-top: 5px solid #fb4b4e;
}
.nav-global.mobile .menu {
  display: none;
}
.mobile-navigation-button {
  padding: 0.2em;
  background-color: #fff;
  border: 5px solid #fb4b4e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-navigation-button span {
  margin: 0 0.5em;
}


/*=============================================================================
# 3. Module
  # 3.1. Global navigation
    # 3.1.2. Global navigation - desktop
=============================================================================*/
.nav-global.desktop {
  display: none;
  grid-column: unset;
  grid-row: unset;
}
.nav-global.desktop .menu {
  list-style: none;
  display: flex;
  background-color: #fcfcfc;
  padding: 0;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  margin: 0;
}
.nav-global.desktop .menu li {
  display: block;
  flex-grow: 1;
  padding: 1em;
  border-top: 5px solid #e5e5e5;
}
.nav-global.desktop .menu li:hover, .nav-global  .menu li:active {
  border-top: 5px solid #fb4b4e;
}
/*=============================================================================
# 3. Module
  # 3.1. Global header
=============================================================================*/
.page-header {
  grid-template-rows: unset;
  padding: 1em;
  border-bottom: 5px solid #07020D;
  background-color: #fff;
}
.page-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.page-header .logo {
  display: none;
  place-self: center;
  height: 1.5em;
  width: 1.5em;
}

/*=============================================================================
# 3. Module
  # 3.3. Social navigation
=============================================================================*/
.nav-social .menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav-social .menu li {
  margin: 0 1em;
}

/*=============================================================================
# 3. Module
  # 3.4. SVG
=============================================================================*/

/*=============================================================================
# 3. Module
  # 3.5. Buttons
=============================================================================*/

/*=============================================================================
# 4. State
=============================================================================*/
.hidden {
  display: none;
}

/*=============================================================================
# 5. Theme
=============================================================================*/