/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Colors
=============================================================================*/
:root {
    /* Theme colours */
    --main-dark-colour: #07020D;
    --secondary-dark-colour: #140526;
    --main-light-colour: #fcfcfc;
    --main-accent-colour: #fb4b4e;
    --secondary-accent-colour: #d8d8f6;

    /* External colours */
    --twitter: #1da1f2;
    --github: #323131;
}

/*=============================================================================
#   Typography
=============================================================================*/
:root {
    --text-width: 53ch;
}