/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Forms
=============================================================================*/
.page__footer__form {
    text-align: left;
    margin: 1rem 0 2rem 0;
}
.form__wrapper {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    
}

.form__label {
    letter-spacing: 0.05rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: var(--dark-one);
}

.form__input {
    min-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.25rem;
}
.form__input:focus {
    border-radius: 2px;
}

.form__textarea {
    min-height: 5rem;
    max-width: 100%;
    resize: vertical;
}

.button {
    font-size: 1.5rem;
    color: var(--light-one);
    border: 0;
    padding: 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    background: linear-gradient(90deg, var(--primary-accent-colour) 0%, var(--secondary-accent-colour) 100%);
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);

}

.button:hover {
    background: linear-gradient(90deg, var(--secondary-accent-colour) 50%, var(--primary-accent-colour) 100%);
    box-shadow: unset;
}
