/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
    ## Colours
# Layout
    ## Page grid
    ## Section grid
    ## Layout elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  --dark-bg-colour: #07020D;
  --light-bg-colour: #F5F7F9;
  --dark-txt-colour: #07020D;
  --light-txt-colour: #F5F7F9;
  --primary-accent-colour: #fb4b4e;
  --secondary-accent-colour: #d8d8f6;
  --section-bg-colour: #ffffff;
  --border-colour: #eaecee;
  --heading-font: 'Oswald', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --link-colour: #7411ff;
  --link-visited-colour: #29339b; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
  box-sizing: border-box; }

body, figure {
  margin: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
* {
  font-family: var(--body-font); }

h1, h2 {
  font-family: var(--heading-font); }

h1 {
  font-weight: bold;
  text-decoration: underline solid var(--accent-one); }

h2 {
  font-weight: medium;
  font-style: italic; }

h3 {
  font-weight: 600; }

figcaption {
  font-style: italic;
  font-weight: lighter; }

a {
  text-decoration-color: var(--accent-one); }

a:link {
  color: var(--link-colour); }

a:visited {
  color: var(--link-visited-colour); }

a:hover {
  color: var(--accent-one); }

a:active {
  border: 1px dotted var(--secondary-accent-colour); }

a:focus {
  border: 1px dotted var(--accent-one); }

/*--------------------------------------------------------------
    ## Colours
--------------------------------------------------------------*/
body {
  background: var(--light-bg-colour);
  background: linear-gradient(-180deg, white, var(--light-bg-colour), var(--light-txt-colour), var(--secondary-accent-colour)); }

article {
  color: var(--dark-txt-colour);
  background: var(--section-bg-colour);
  border: 2px solid var(--border-colour);
  box-shadow: 1px 2px 2px var(--border-colour); }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    ## Page grid
--------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 800px) 1fr;
  grid-template-rows: repeat(3, auto); }

header {
  grid-area: 1 / 1 / 2 / 4; }

main {
  grid-area: 2 / 2 / 3 / 3; }

footer {
  grid-area: 3 / 1 / 4 / 4; }

/*--------------------------------------------------------------
    ## Section grid
--------------------------------------------------------------*/
.project {
  display: grid;
  grid-template-columns: 1fr 60% auto 1fr;
  grid-template-rows: repeat(4, auto); }

.project-header {
  grid-area: 1 / 1 / 2 / 4; }

.project-description {
  grid-area: 2 / 2 / 4 / 3; }

.project-screenshot.sml {
  grid-area: 2 / 3 / 4 / 4; }

.project-screenshot.lg {
  grid-area: 4 / 1 / 5 / 4; }

/*--------------------------------------------------------------
    ## Layout elements
--------------------------------------------------------------*/
.page-header, .page-footer {
  text-align: center; }

footer {
  padding: 1em; }

.project {
  margin-bottom: 1em;
  padding: 0.5em 2em; }

.project-description {
  padding-right: 1em; }

.project-screenshot {
  margin-bottom: 1em; }

img {
  display: block;
  max-width: 100%; }
