/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#   Footer
=============================================================================*/
.page__footer {
    padding: 2rem 1rem;
    text-align: center;
    overflow: hidden; /* .form__wrapper & .form__input padding are causing horizontal overflow */
}
/* Footer reveal */
.main, .page__header {
    z-index: 2;
}
/* Toggle these on using JS */
.page__footer--reveal {
    position: sticky;
    bottom: -400px;
    z-index: 1;
}
.page__footer--visually-hidden {
    visibility: hidden;
}