/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 07.09.18
**/

/*=============================================================================
#   Layout
=============================================================================*/
.page-grid {
    display: grid;
    max-width: 100%;
}

.main-grid {
    padding: 2rem 1rem;
    display: grid;
    max-width: 100%;
    /* grid-template-columns: repeat(auto-fit); */
    grid-gap: 1rem;
    align-items: start;
    justify-content: center;
}

@media (min-width: 1000px) {
	.main-grid {
		padding: 2rem;
	}
}

.footer-grid {
    display: grid;
    justify-content: center;
}
