/**
@author: Calvin Lowe
@url: https://calvinlowe.com
@date: 17.03.18
**/

/*=============================================================================
#    State
=============================================================================*/
.visually-hidden {
    display: none;
}