/**
@author: Calvin Lowe
@url: https://calvinlowe.com
**/

/*=============================================================================
#   Colors
=============================================================================*/
:root {
    /* Theme colours */
    --dark-one: #2E1F27;
    --dark-two: #0C0A3E;
    --light-one: #fcfcfc;
    --accent-one: #FB4B4E;
    --accent-two: #7B1E7A;

    /* External colours */
    --twitter: #1da1f2;
    --github: #323131;
}

/*=============================================================================
#   Typography
=============================================================================*/
:root {
    --text-width: 53ch;
}